/*------------------------------------*\
    Z-INDEX LOG

	Because of the nature of this UI, all z-index will
	live in each component/layout. It is still however wise
	to log the values in here so we can still have a
	reasonably similar benefit to other projects using
	the GTEK Framework.

	.site-head{ z-index: 1000; }
	.hero__background{ z-index: -100; }
	.box__icon:before{ z-index: -10; }
	.card__image__decor{ z-index: 20; }
	.portfolio-item__hero__content__title:before{ z-index-10; }

\*------------------------------------*/

