.site-head{
	
	@include mode("global"){
		
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: $primary-color;
		z-index: 1000;
		
		&__heading{
			@extend %is-hidden--text;
		}
		
		&__inner{
			
			@extend %grid;
			@extend %grid--middle;
			@extend %grid--split;
			@extend %grid--full;
			
			width: $site-max-width;
			max-width: 100%;
            padding: $gutter $gutter--mini;
            position: relative;
			
		}
		
		&__logo{
			display: block;
			height: 100%;
		}
		
		&__nav{
			
			@extend %flex-wrapper;
			@extend %is-hidden--portable;
			
			&__inner{
				@extend %flex-wrapper;
			}
			
			&__item {
				padding: 0 $gutter;
                list-style: none;
                position: relative;
				
				a {
                    color: $white;
                    display: block;
                    padding: 15px 0;
                    @extend %transition-all;
					
					&:hover {
                        text-decoration: none;
                        opacity: 0.7;
                    }
                    
                }
                
                &.menu-item-has-children {
                    position: relative;
                    
                    .sub-menu {
                        position: absolute;
                        top: 50px;
                        display: block;
                        width: 250px;
                        padding: 0px $gutter;
                        background: $white;
                        z-index: -1;
                        opacity: 0;
                        box-shadow: -5px 0 10px 0 rgba(0,0,0,.09);
                        border-radius: 10px;

                        @extend %transition-all;
                        
                        .menu-item {

                            a {
                                padding: 10px 0;
                                display: block;
                                color: $primary-color;
                            }
                            
                            &:last-child {
                                border: none;
                            }
                        }
                    }
                    
                    &:hover {
                        .sub-menu {
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                } 
               
			}
			
			@include media-query('portable'){
				
                position: absolute;
                display: flex !important;
                top: 93px;
                left: -100vw;
                width: 100%;
                transition: all 0.3s ease;
				
				&.is-active{
                    left: 0px;
				}
				
				&__inner{
					
					flex-direction: column;
					width: 100%;
					overflow: scroll;
					z-index: 1000;
					height: 100vh;
					padding-bottom: 90px;
                    background: $white;
					
				}
				
				&__item{
					
					align-self: flex-start;
					width: 100%;
					padding-top: $gutter--mini;
					padding-left: $gutter;
					
					a {
						color: $primary-color;
					}
					
					&:first-child{
						padding-top: $gutter;
					}
					
					&:last-child{
						padding-bottom: $gutter;
                    }
                    
                    &.menu-item-has-children {
                    position: relative;
                    
                        .sub-menu {
                            position: relative;
                            top: auto;
                            width: auto;
                            max-height: 0;
                            overflow: hidden;
                            background: none;
                            opacity: 1;
                            box-shadow: none;
                            border-radius: 0px;
                            
                            .menu-item {

                                a {
                                    padding: 10px 0;
                                    display: block;
                                    color: $primary-color;
                                }
                                
                                &:last-child {
                                    border: none;
                                }
                            }
                        }
                        
                        &:hover {
                            .sub-menu {
                                max-height: 500px;
                            }
                        }
                    } 
					
				}
			}
			
		}
		
		&__hamburger{
			
			@extend %is-hidden--desk;
			
			display: flex;
			align-items: center;
			height: 100%;
			padding-right: $gutter--mini;
			text-decoration: none;
			color: $white;
			
			i{
				font-size: 24px;
			}
		}
		
	}
	
}