.site-foot{
	
	@include mode("global"){
		
		display: flex;
		position: relative;
		width: 100%;
		overflow: hidden;
		color: $white;
		
		@include media-query('portable'){
			padding-bottom: 20%;
		}
		
		&__background{
			
			@extend %desk--one-whole;
			flex-shrink: 0;
			
			img{
				
				width: 100%;
                
                @include media-query('portable'){
                    width: 2250px;
                    left: 50%;
                    transform: translateX(-10%);
                }
				
			}
			
		}
		
		&__inner{
			
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			
			@extend %grid;
			@extend %grid--center;
			
		}
		
		&__content{
			
			@extend %grid;
			justify-content: space-between;
			width: 100%;
			max-width: $site-max-width;
			padding-top: 225px;
			
			@include media-query('portable'){
				flex-direction: column;
				padding-top: 80px;
				padding-left: 40px;
			}
			
		}
		
		&__contact,
		&__nav{
			
			@extend %desk--one-half;
			@extend %palm--one-whole;
			
		}
		
		&__contact{
			
            @extend %flex-wrapper--column;
            
            @include media-query('portable'){
                position: relative;
                top: 150px;
            }
			
			&__logo{
				
				width: auto;
				max-width: 100%;
				margin-bottom: $gutter--double;
				
			}
			
			&__phone{
				
				@include font-size(24px);
				margin-bottom: $gutter--mini;
				color: $white;
				text-decoration: none;
				
			}
			
		}
		
		&__nav{
			
			@extend %flex-wrapper;
			justify-content: space-between;
			
			@include media-query('portable'){
                flex-wrap: wrap;
                position: relative;
                top: 0px;
			}
			
			&__item{
				
				@extend %portable--one-half;
				
				@include media-query('portable'){
					padding-bottom: $gutter--double;
				}
				
				&__menu li a{
					
					color: $white;
					text-decoration: none;
					
				}
				
			}
			
		}
		
		&__copyright{
			
			width: 100%;
			//align-self: flex-end;
			padding-bottom: $gutter;
			text-align: center;
			
		}
		
	}
	
}