%title-base {
    font-family: $title-font-family;
	text-transform: capitalize;
}

%title-primary {
	@extend %title-base;

	@include font-size(50px, true, false, $tight-line-height-ratio);
	letter-spacing: 2px;
	
	@include media-query("lap-and-up") {
		@include font-size(60px, true, false, $tight-line-height-ratio);
	}
}

%title-secondary {
	@extend %title-base;

	@include font-size(26px, true, false, $tight-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(36px, true, false, $tight-line-height-ratio);
	}
}

%title-tertiary {
	@extend %title-base;

	@include font-size(30px, true, false, $base-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(40px, true, false, $base-line-height-ratio);
	}
}

%title-quaternary {
	@extend %title-base;

	@include font-size(16px, true, false, $base-line-height-ratio);

	@include media-query("lap-and-up") {
		@include font-size(18px, true, false, $base-line-height-ratio);
	}
}