@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'truenoregular';
    src: url('fonts/trueno-regular-webfont.woff2') format('woff2'),
         url('fonts/trueno-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'truenosemibold';
    src: url('fonts/trueno-semibold-webfont.woff2') format('woff2'),
         url('fonts/trueno-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}