/*------------------------------------*\
    FONT-FACE DECLARATIONS
\*------------------------------------*/

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$base-font-size: 16px;
$base-line-height-ratio: 1.7;
$base-font-family: Helvetica, Arial, sans-serif;

$heading-line-height-ratio: 1.4;
$heading-font-family: Arial, sans-serif;

$title-line-height-ratio: 1.1;
$title-font-family: Helvetica, serif;
